@import '../../../var';

.slide-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 100%;
  color: #fff;
  font-size: $font-size;

  &.left {
    background-color: $danger-color;
  }
  &.right {
    background-color: $success-color;
  }
}
