@import '../../var';

.left-capsule {
  position: fixed;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 750rpx;
}

.back-icon {
  width: 30rpx;
  height: auto;
}
