/*!
 * Page: pages/index/index
 * License: MIT
 * Created: 2019-06-03 11:54
 */
@import '../../var';

.Index {
  padding: 20rpx;

  .items {
    display: grid;
    grid-gap: 20rpx;
    grid-template-columns: repeat(3, 1fr);

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30vw;
      font-size: 80%;
      border: 1px solid $border-color;
      border-radius: $border-radius;
    }
  }
}
