/*!
 * Page: pages/calendar/calendar
 * License: MIT
 * Created: 2019-06-03 09:15
 */

@import '../../var';

.Calendar {
  .month-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: (100vw/7);
      color: $decor-color;

      &.current-month {
        color: $text-color;
      }
    }
  }

  .month-header {
    font-size: 80%;

    .item {
      height: 40rpx;
      align-items: flex-end;
    }
  }
}
