/*!
 * Component: components/index/index
 * License: MIT
 * Created: 2019-06-03 15:12
 */

@import '../../var';

.month-view {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: (100vw/7);
    color: $decor-color;

    &.current-month {
      color: $text-color;
    }

    .dot {
      position: absolute;
      width: 10rpx;
      height: 10rpx;
      border-radius: 10rpx;

      &.menstrual {
        background-color: $menstrual-color;
        bottom: 10rpx;
        left: calc(50% - 5rpx);
      }
    }

    .today {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid red;
      border-radius: 8rpx;
    }
  }
}
