$primary: #ff9999;
$danger-color: red;
$success-color: green;

$title-color: #333;
$text-color: #666;
$info-color: #999;
$decor-color: #ccc;
$border-color: #ededed;

$menstrual-color: red;

$border-radius: 10rpx;

$font-size: 14px;
$font-size-small: 12px;
$font-size-large: 18px;
