// 导入 var.scss
@import 'var';

// 导入 vant-weapp 的 npm 包,编译时会自动合并
@import 'vendors/vant/common/index.wxss';

/*
* import `wxss` 结尾的本地文件，表示使用 小程序的 import
* 编译时会进行保留, 通常用于仅在特定页面/组件直接共享样式
*/
// @import "/style/common.wxss"; // 编译之后不便

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

progress {
  color: red;
}

.circle {
  /*
    * 可直接使用 url() 本地资源文件
    * 打包之后会对图片进行无损压缩和inline处理
    */
  background-image: url('./assets/icon/test.svg');
}
